<h1>Every Post</h1>
<% @posts.each do |post| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to post.title, post %>
      </h4>
      <small>
        submitted <%= time_age_in_words(post.created_at) %> agy by <%= post.user.name %><br/>
        <%= post.comments.count %> Comments
      </small>
    </div>
  </div>
<% end %>
